库街区游戏签到
{{if .Error}}执行失败（{{.Error}}）
{{- else}}
{{- range $i, $v := .Records -}}
在游戏【{{$v.GameName}}】角色【{{$v.RoleName}}】区服【{{$v.ServerName}}】{{if $v.Error}}失败（{{$v.Error}}）{{else}}获得 {{$v.Award}}{{end}}
{{end}}
{{end}}